<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Points Tracker</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body>
<div class="main-container">
  <header>
    <div class="burger-menu">☰
      <div class="logout-link" style="display: none;"><a href="/logout">Logout</a></div>
    </div>
    <div id="app-title">Arlo's Points App</div>
    <div id="total-points" data-points="{{ total_points }}">{{ total_points }}/100</div>
  </header>
  <div class="chart-container">
    <canvas id="pointsChart"></canvas>
  </div>
  <form action="/update" method="post" id="points-form">
    <input type="number" id="points_value" name="points_change" required placeholder="Points">
    <input type="text" id="description" name="description" placeholder="Description" required>
    <button type="submit">Update Points</button>
  </form>
  <h2>History:</h2>
  <div class="history-container">
    <div class="history-header">
      <span>Date</span>
      <span>Description</span>
      <span>Points</span>
    </div>
  </div>
  
</div>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
